<h2>
  <span>SPLURTY / No. <%=@quote.id %></span>
  I love Toronto <u>but</u>...
</h2>

<h1><%= @quote.saying %></h1>
<h2 class="float-right">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />